/* Montserrat */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url('/assets/default/fonts/Poppins-Regular.woff') format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url('/assets/default/fonts/Poppins-Bold.woff') format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url('/assets/default/fonts/Poppins-Medium.woff') format('woff');
}

@font-face {
    font-family: Vazir;
    src: url('/assets/default/fonts/vazir/Vazir-Regular.eot');
    src: url('/assets/default/fonts/vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/default/fonts/vazir/Vazir-Regular.woff2') format('woff2'),
    url('/assets/default/fonts/vazir/Vazir-Regular.woff') format('woff'),
    url('/assets/default/fonts/vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/assets/default/fonts/vazir/Vazir-Bold.eot');
    src: url('/assets/default/fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/default/fonts/vazir/Vazir-Bold.woff2') format('woff2'),
    url('/assets/default/fonts/vazir/Vazir-Bold.woff') format('woff'),
    url('/assets/default/fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('/assets/default/fonts/vazir/Vazir-Medium.eot');
    src: url('/assets/default/fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/default/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
    url('/assets/default/fonts/vazir/Vazir-Medium.woff') format('woff'),
    url('/assets/default/fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
